.flex-parent {
  display: flex;
  width: 50%;
}

.flex-child-first {
  flex: 1;
  /*border: 2px solid blueviolet;*/
  margin: 10px;
}

.flex-child-second {
  flex: 1;
  /*border: 2px solid blueviolet;*/
  margin: 10px;
}

/*
.new-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
